*{
  box-sizing: border-box;
}
body{
  font-size:  16px;
  font-family:'Balsamiq Sans', cursive;
  color: #000;
  background-color: pink;
}
#nav-header{
  background-color: #f6b319;
  border: 0;
  border-radius:0;
  height: auto;
}
.container .nav-brand p{
  padding-top: 4px;
  font-weight: 700;
  font-size: 30px;
}
h3{
  font-weight: 700;
}
.content {
	box-shadow: 2px 4px;
	border:	2px solid black;
	background-color: #99FFFF;
	width: 100%;
	height: auto;
	color: black;
	position: relative;
  padding: 5px;
}
.row{
  margin-top: 30px;
  padding: 10px;
}
#USA{
  margin-top: 10px;
}
#India{
  margin-top: 10px;
}
#Canada{
  margin-top: 10px;
}
.detail{
  padding: 15px;
}
#btn{
  margin-top: -45px;
  border: 2px solid black;
  padding: 5px;
  width: 40px;
}
 .navbar-default .navbar-nav li a {
  color: black;
 }
 .navbar-default .navbar-nav li a:hover {
  color: black;
 }
 .navbar.navbar-default .navbar-collapse {
   border-top:0px;
}
hr{
  border-top: 2px solid black;
}
